[ req ]
default_bits=2048
default_keyfile=key.pem
default_md=sha256
prompt=no
distinguished_name = req_distinguished_name
x509_extensions = req_v3

[ req_distinguished_name ]
CN=waffles4.life
C=CA
ST=ON
L=Ottawa
O=Waffles 4 Life
OU=Department of Redundancy Department
emailAddress=bheesham.persaud@live.ca

[ req_v3 ]
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints=CA:false
extendedKeyUsage=serverAuth,clientAuth,codeSigning
nsCertType=client,server
subjectKeyIdentifier=hash
